[submodule "stromx"]
	path = stromx
	url = https://github.com/uboot/stromx.git
	shallow = true
[submodule "stromx-opencv"]
	path = stromx-opencv
	url = https://github.com/uboot/stromx-opencv.git
	shallow = true
[submodule "stromx-zbar"]
	path = stromx-zbar
	url = https://github.com/uboot/stromx-zbar.git
	shallow = true
[submodule "stromx-web"]
	path = stromx-web
	url = https://github.com/uboot/stromx-web.git
	shallow = true
[submodule "stromx-raspi"]
	path = stromx-raspi
	url = https://github.com/uboot/stromx-raspi.git
	shallow = true
[submodule "stromx-sl"]
	path = stromx-sl
	url = https://github.com/uboot/stromx-sl.git
	shallow = true
